.bg-dark {
    --bs-bg-opacity: 0.6;
    color: white;
}


#contact-bg,
#card {
    padding-top: 100px;

}

/* home page css*/
#home-bg {
    .video-bg {
        z-index: -1;
    }

    .text-lead {
        font-weight: 700;
        font-size: 4.5rem;
        color: aliceblue;
    }

    .styled li {
        font-size: 1.0rem;
        font-weight: 600;
        color: aliceblue;
        line-height: 30px;
    }

    #projectlist {
        border-radius: 50px;
        padding: 4% 8% ;
        font-weight: 600;
    }

    @media (max-width: 768px) {


        #card {
            /* width: 100%; */
            margin: 0;
        }

        .text-lead {
            font-size: 2.5rem;
        }
    }
}

/* header css */

.header {
    display: block;
    box-sizing: border-box;
    --bs-bg-opacity: 0.4;

}

.nav-link {
    color: white;
}

.nav-link:hover {
    box-sizing: border-box;
    box-shadow: 5px 5px 10px white;
    background-color: black;
    color: white;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .nav-link {
        color: black;
    }

}

/* services */
#services {
    position: relative;

    .services-box {
        background-color: #cae0ff;
        border-radius: 50px;
        padding: 15px 20px 15px 50px;
        display: block;
        background-image: url(/public/images/cnc-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 1024px) {
            padding: 15px 20px 30px 30px;
        }
    }

}