#contact-bg {
    /* background-image: url(/public/images/contact-us-bg-1.jpg); */
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

/* home page css*/
.bg-dark {
    --bs-bg-opacity: 0.7;
}

#home-bg {
    .video-bg {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
        min-width: 100%;
        /* min-height: 100%; */
        /* height: 80%; */
        top: 14%;
        background-color: black;
    }

    .text-lead {
        font-weight: 700;
        font-size: 4.5rem;
        color: aliceblue;
    }

    .styled li {
        font-size: 1.0rem;
        font-weight: 600;
        color: aliceblue;
        line-height: 30px;
    }
}

/* header css */

.header {
    display: block;
    box-sizing: border-box;
}

.nav-link:hover {
    box-sizing: border-box;
    box-shadow: 5px 5px 10px white;
    background-color: black;
    border-radius: 10px;
}

#services {
    position: relative;

    .services-box {
        background-color: #cae0ff;
        border-radius: 50px;
        padding: 15px 20px 15px 50px;
        display: block;
        background-image: url(/public/images/cnc-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 1024px) {
            padding: 15px 20px 30px 30px;
        }
    }

}