.Navbar {
    background-color: #636162;
    color: white;
    border-radius: 5px;
}

#contact-bg {
    /* background-image: url(/public/images/contact-us-bg-1.jpg); */
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

#home-bg {
 .video-bg{
    position: absolute;
    margin: auto;
 }


    .text-lead {
        font-weight: 700;
        font-size: 4.5rem;
        color: aliceblue;
    }

    .styled li {
        font-size: 1.0rem;
        font-weight: 600;
        color: aliceblue;
        line-height: 30px;
    }

}

.header {
    background-image: linear-gradient(to right, #636162, #7a7878, #928f8e, #a9a8a6, #c1c1bf, #cacbc8, #d3d5d2, #dbe0dc, #d5ded9, #cedbd6, #c6d9d5, #bfd6d4);
}

#services {
    position: relative;

    .services-box {
        background-color: #cae0ff;
        border-radius: 50px;
        padding: 15px 20px 15px 50px;
        display: block;
        background-image: url(/public/images/cnc-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 1024px) {
            padding: 15px 20px 30px 30px;
        }
    }

}